@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/*Navbar*/
.navbar{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: black;
    position:sticky;
    top:0;

}

.navbar ul{
    display:flex;
    list-style: none;
    margin:20px 0px;

}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
    }

 .navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;

 }   
 .navbar ul li a:hover{
background-color: white;
color: black;
box-shadow: 0 0 10px white;

}
/*home*/

#home{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 120px;
    justify-content: center;
    align-items: center; 
    
}
#home::before{
    content:"";
    position: absolute;
    top:0;
    right:0;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;


}
.main{
    display: flex;
    flex-direction: column;    
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.headingshome span {
             
    transition: color 0.2s; 
    cursor: pointer;       
  }
  
  .headingshome span:hover {
    color: yellow;         
  }

  .headingshome{
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
    animation: slideInFromRight 1s ease-out; 
    opacity: 1;
  }
  #avatar img {

    width: 400px;
    height: auto;
    animation: pulseEffect 1.5s ease-in-out infinite;
  }

  @keyframes slideInFromRight {
    0% {
        transform: translateX(100%); 
        opacity: 0;
    }
    100% {
        transform: translateX(0); 
        opacity: 1;
    }
}


  

/*about*/

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
  display: flex;
  flex-direction: column;
  text-align: justify;  
  padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

#intro p{

    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   

}

#abread{
    background: linear-gradient(to bottom,#4facfe05, #f0f4f4);
}



/*projects*/

#projects {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
    padding: 20px;
    max-width: 1100px; 
    margin: 0 auto; 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    width: 100%; 
    box-sizing: border-box;
}

.gallery img {
    width: 100%; 
    max-width: 360px; 
    height: auto; 
    margin: 10px 0; 
    object-fit: cover; 
}






/*contact*/
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    color: white;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
  padding:12px;
  margin:15px;
  width:30%;
  border-radius: 10px;
  outline: none;

}
#message{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    outline: none;

}

.send{
    padding: 10px;
    width:10%;
    margin: 40px;
    border: none;
    outline: none;
    font-size: 1em;
    animation: pulseEffect 1.5s ease-in-out infinite;
}
.send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

@keyframes pulseEffect {
    0% {
      transform: scale(1); /* Start at normal size */
    }
    50% {
      transform: scale(1.05); /* Scale up slightly */
    }
    100% {
      transform: scale(1); /* Return to normal size */
    }
  }



  
/* footer */
footer {
    background-color: #333;      
    color: #fff;                 
    text-align: center;          
    padding: 15px 0;             
    font-size: 0.9rem;           
    position: relative;          
    bottom: 0;
    width: 100%;               
}

footer p {
    margin: 0;                  
}

/*social media icons */
.social-icons {
    list-style-type: none;           
    padding: 0;                      
    display: flex;                  
    gap: 15px;                      
    justify-content: center;         
    margin-top: 20px;
}

.social-icons li {
    display: inline;
}

.social-icons a {
    text-decoration: none;           
    color: #333;                    
    font-size: 1.5em;               
    transition: color 0.3s ease;     
}

.social-icons a:hover {
    color:rgba(0, 0, 255, 0.5);

}



